@{
    ViewBag.Title = "Authentification error";
}

<hgroup>
    <h1 class="text-danger">Invalid operation. </h1>
    <h2 class="text-danger">This operation is not allowed for authentificated users.</h2>
</hgroup>
