@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h4>My name is Alexander Platonov<br/>
    I am from Moscow, Russia and I am a student of Plekhanov Russian University of Economics<br/>
    If you are interested in my other projects, you always can contact me</h4>
<br/>


<address>
    <strong>GitHub:</strong> <a href="https://github.com/SpinDOS">SpinDOS</a><br/>
    <strong>E-mail:</strong> <a href="mailto:alexanderplat757@yandex.ru">alexanderplat757@yandex.ru</a><br/>
</address>